#wrapper > section .portlet-content #bibbox-wrapper,
html body {
  /* GENERAL */
  /* COMMON */
  /* STORE */
  /* OVERLAY */
  /* MESSAGE */
  /* TAGER SEARCH */
  /* FACET SEARCH*/
  /* APPS */
  /* APP OVERLAY */
  /* MEDIA QUERIES */ }

#wrapper > section .portlet-content #bibbox-wrapper *,
html body * {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "sans-serif";
  font-size: 15px;
  box-sizing: border-box;
  outline: 0;
  word-wrap: break-word; }

#wrapper > section .portlet-content #bibbox-wrapper h1,
html body h1 {
  font-size: 20px;
  font-weight: normal;
  padding: 7px 18px;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper h2,
html body h2 {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper h3,
html body h3 {
  font-size: 18px;
  font-weight: normal;
  color: #555;
  margin-bottom: 5px;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper a,
html body a {
  color: #6496b4;
  text-decoration: none; }

#wrapper > section .portlet-content #bibbox-wrapper #wrapper,
#wrapper > section .portlet-content #bibbox-wrapper #component-wrapper,
#wrapper > section .portlet-content #bibbox-wrapper #app-wrapper,
#wrapper > section .portlet-content #bibbox-wrapper #app-filter,
#wrapper > section .portlet-content #bibbox-wrapper #app-legend,
#wrapper > section .portlet-content #bibbox-wrapper #applist,
#wrapper > section .portlet-content #bibbox-wrapper #store-wrapper,
#wrapper > section .portlet-content #bibbox-wrapper #tagger,
#wrapper > section .portlet-content #bibbox-wrapper .store-group,
#wrapper > section .portlet-content #bibbox-wrapper .store-group-name,
#wrapper > section .portlet-content #bibbox-wrapper .store-app .tags,
#wrapper > section .portlet-content #bibbox-wrapper .facet-title,
#wrapper > section .portlet-content #bibbox-wrapper .facet-group,
#wrapper > section .portlet-content #bibbox-wrapper .facet-item,
#wrapper > section .portlet-content #bibbox-wrapper .facet-label,
html body #wrapper,
html body #component-wrapper,
html body #app-wrapper,
html body #app-filter,
html body #app-legend,
html body #applist,
html body #store-wrapper,
html body #tagger,
html body .store-group,
html body .store-group-name,
html body .store-app .tags,
html body .facet-title,
html body .facet-group,
html body .facet-item,
html body .facet-label {
  float: left;
  width: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper #component-navigation,
html body #component-navigation {
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center; }

#wrapper > section .portlet-content #bibbox-wrapper button,
html body button {
  padding: 7px 15px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  border: 0;
  color: #555;
  cursor: pointer;
  margin: 0 10px;
  min-width: 80px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

#wrapper > section .portlet-content #bibbox-wrapper button:hover,
html body button:hover {
  color: white;
  background: #6496b4; }

#wrapper > section .portlet-content #bibbox-wrapper select,
html body select {
  padding: 5px 30px 5px 10px;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  background: white url(6ef53046780f5020d6b0636bb6b0e921.png) right/auto 100% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

#wrapper > section .portlet-content #bibbox-wrapper .highlight,
html body .highlight {
  color: white !important;
  background: #2d6191 !important; }

#wrapper > section .portlet-content #bibbox-wrapper .tag,
html body .tag {
  padding: 2px 5px;
  min-width: initial;
  margin: 0 5px 5px 0;
  float: left;
  font-size: 12px;
  border: 0;
  background: rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #333;
  cursor: pointer; }

#wrapper > section .portlet-content #bibbox-wrapper .tag.white,
html body .tag.white {
  background: rgba(255, 255, 255, 0.2); }

#wrapper > section .portlet-content #bibbox-wrapper .tag:hover,
html body .tag:hover {
  background: rgba(0, 0, 0, 0.9);
  color: white; }

#wrapper > section .portlet-content #bibbox-wrapper #store-results,
html body #store-results {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;
  border-left: solid 1px #CCC; }

#wrapper > section .portlet-content #bibbox-wrapper #loader,
html body #loader {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin: 0 0 0 -25px; }

#wrapper > section .portlet-content #bibbox-wrapper .store-group,
html body .store-group {
  margin-bottom: 20px;
  border-bottom: solid 1px #DDD;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row wrap; }

#wrapper > section .portlet-content #bibbox-wrapper .store-group:last-child,
html body .store-group:last-child {
  border-bottom: 0; }

#wrapper > section .portlet-content #bibbox-wrapper .store-group-name,
html body .store-group-name {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #2d6191; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app,
html body .store-app {
  padding: 15px 10px 10px 10px;
  text-align: center;
  width: 150px;
  float: left;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  color: #555f7d;
  border-radius: 0 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  position: relative; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app .name,
html body .store-app .name {
  float: left;
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #555f7d;
  transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app .decoration,
html body .store-app .decoration {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 80px; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app .decoration img,
html body .store-app .decoration img {
  width: 100%;
  height: auto; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app .character, #wrapper > section .portlet-content #bibbox-wrapper .store-app .icon,
html body .store-app .character,
html body .store-app .icon {
  font-size: 35px;
  float: left;
  width: 100%;
  margin-bottom: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app .character img, #wrapper > section .portlet-content #bibbox-wrapper .store-app .icon img,
html body .store-app .character img,
html body .store-app .icon img {
  max-width: 90px;
  max-height: 90px; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app:hover,
html body .store-app:hover {
  color: white;
  background: #6496b4; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app.highlight .name,
#wrapper > section .portlet-content #bibbox-wrapper .store-app:hover .name,
html body .store-app.highlight .name,
html body .store-app:hover .name {
  border-bottom: solid 1px white; }

#wrapper > section .portlet-content #bibbox-wrapper .store-app.highlight .tag,
#wrapper > section .portlet-content #bibbox-wrapper .store-app:hover .tag,
html body .store-app.highlight .tag,
html body .store-app:hover .tag {
  color: white;
  background: rgba(255, 255, 255, 0.2); }

#wrapper > section .portlet-content #bibbox-wrapper .store-app:hover .tag:hover,
html body .store-app:hover .tag:hover {
  background: rgba(0, 0, 0, 0.9); }

#wrapper > section .portlet-content #bibbox-wrapper #app-detail,
#wrapper > section .portlet-content #bibbox-wrapper .app-detail-label,
#wrapper > section .portlet-content #bibbox-wrapper .app-detail-value,
html body #app-detail,
html body .app-detail-label,
html body .app-detail-value {
  float: left;
  width: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-content,
html body #overlay-content {
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 50px; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-toggle,
html body #overlay-toggle {
  margin-bottom: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper #app-detail,
html body #app-detail {
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .app-detail-label,
html body .app-detail-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #2d6191; }

#wrapper > section .portlet-content #bibbox-wrapper .app-detail-value,
html body .app-detail-value {
  margin-bottom: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-left,
html body .app-install-left {
  float: left;
  width: 45%;
  margin-right: 5%;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-left .full-width,
html body .app-install-left .full-width {
  display: inline-block;
  width: 400px;
  max-width: 100%;
  text-align: center; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-right,
html body .app-install-right {
  float: left;
  width: 50%;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-right .install-status,
html body .app-install-right .install-status {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-right .install-status img,
html body .app-install-right .install-status img {
  float: left;
  height: 25px;
  margin-right: 15px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-right .install-status span,
html body .app-install-right .install-status span {
  float: left;
  width: 75%;
  margin-bottom: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-right .install-status textarea,
html body .app-install-right .install-status textarea {
  float: left;
  width: 100%;
  min-height: 200px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-right h1,
#wrapper > section .portlet-content #bibbox-wrapper .app-install-right h2,
#wrapper > section .portlet-content #bibbox-wrapper .app-install-right h3,
html body .app-install-right h1,
html body .app-install-right h2,
html body .app-install-right h3 {
  padding: 0;
  margin-bottom: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-text,
html body .app-install-text {
  display: inline-block;
  margin-bottom: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install label,
html body .app-install label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2d6191; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install input,
#wrapper > section .portlet-content #bibbox-wrapper .app-install textarea,
html body .app-install input,
html body .app-install textarea {
  display: inline-block;
  width: 400px;
  max-width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: solid 1px lightgray;
  background: white;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install textarea,
html body .app-install textarea {
  min-height: 120px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-install-submit,
html body .app-install-submit {
  margin-top: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-wrapper,
html body #overlay-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-loader,
html body #overlay-loader {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-inner,
html body #overlay-inner {
  display: none;
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 2.5%;
  right: 2.5%; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-body,
html body #overlay-body {
  position: relative;
  width: 1000px;
  max-width: 100%;
  background: white;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.8);
  text-align: left;
  overflow: auto;
  max-height: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-close-wrapper,
html body #overlay-close-wrapper {
  position: relative;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 0 auto;
  max-height: 100%;
  margin-bottom: -40px;
  height: 40px;
  padding: 5px 5px 0 5px; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-close-body,
html body #overlay-close-body {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 7.5px;
  cursor: pointer;
  z-index: 1; }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-close-body:hover,
html body #overlay-close-body:hover {
  background: rgba(0, 0, 0, 0.1); }

#wrapper > section .portlet-content #bibbox-wrapper #overlay-close-body img,
html body #overlay-close-body img {
  width: 20px;
  height: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .message-wrapper,
html body .message-wrapper {
  float: left;
  width: 100%;
  text-align: center; }

#wrapper > section .portlet-content #bibbox-wrapper .message-body,
html body .message-body {
  display: inline-block;
  padding: 8px 15px;
  background: #ffdc96;
  color: #966e32;
  border-radius: 5px;
  border: solid 1px #dcaa64;
  margin-top: 5px; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger,
html body #tagger {
  display: none;
  padding: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tag,
html body #tagger .ReactTags__tag {
  float: left;
  padding: 5px 7px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  color: #555;
  cursor: pointer;
  margin: 0 10px 10px 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tag .ReactTags__remove,
html body #tagger .ReactTags__tag .ReactTags__remove {
  margin-left: 10px;
  font-weight: bold; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tag .ReactTags__remove:hover,
html body #tagger .ReactTags__tag .ReactTags__remove:hover {
  color: black; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tag:hover,
html body #tagger .ReactTags__tag:hover {
  color: white;
  background: #6496b4; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tag:hover .ReactTags__remove,
html body #tagger .ReactTags__tag:hover .ReactTags__remove {
  color: white; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tagInput,
html body #tagger .ReactTags__tagInput {
  float: left;
  position: relative;
  margin: 0 0 10px 0; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__tagInput input,
html body #tagger .ReactTags__tagInput input {
  padding: 5px 10px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  border: 0;
  color: #555;
  cursor: pointer;
  width: 200px; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__suggestions,
html body #tagger .ReactTags__suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 1; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__suggestions ul,
html body #tagger .ReactTags__suggestions ul {
  width: 100%;
  list-style: none; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__suggestions ul li,
html body #tagger .ReactTags__suggestions ul li {
  width: 100%;
  text-align: left;
  padding: 3px 5px; }

#wrapper > section .portlet-content #bibbox-wrapper #tagger .ReactTags__suggestions ul li:hover,
html body #tagger .ReactTags__suggestions ul li:hover {
  background: #EEE; }

#wrapper > section .portlet-content #bibbox-wrapper .facet-wrapper,
html body .facet-wrapper {
  display: none;
  width: 250px;
  float: left;
  text-align: left;
  padding: 0 20px 0 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .facet-title,
html body .facet-title {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 25px;
  font-size: 20px;
  color: #2d6191; }

#wrapper > section .portlet-content #bibbox-wrapper .facet-item,
html body .facet-item {
  text-align: left;
  margin-bottom: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3); }

#wrapper > section .portlet-content #bibbox-wrapper .facet-label,
html body .facet-label {
  padding: 5px 10px 5px 35px;
  position: relative;
  color: #555f7d;
  cursor: pointer;
  z-index: 1; }

#wrapper > section .portlet-content #bibbox-wrapper .facet-label input,
html body .facet-label input {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .facet-bar,
html body .facet-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background: rgba(100, 150, 180, 0.2);
  z-index: 0; }

#wrapper > section .portlet-content #bibbox-wrapper #app-filter,
html body #app-filter {
  margin-bottom: 15px;
  padding: 10px 10px; }

#wrapper > section .portlet-content #bibbox-wrapper #app-filter select,
html body #app-filter select {
  margin-left: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger,
html body #app-filter #tagger {
  float: right;
  width: auto;
  padding: 0; }

#wrapper > section .portlet-content #bibbox-wrapper #app-legend,
html body #app-legend {
  margin-bottom: 10px;
  padding: 0 10px; }

#wrapper > section .portlet-content #bibbox-wrapper #app-legend > div,
html body #app-legend > div {
  float: left;
  margin-right: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper #app-legend > div > span,
html body #app-legend > div > span {
  float: left;
  margin-right: 5px;
  width: 15px;
  height: 15px; }

#wrapper > section .portlet-content #bibbox-wrapper .running,
html body .running {
  background: #a6c698 !important; }

#wrapper > section .portlet-content #bibbox-wrapper .paused,
html body .paused {
  background: #83a3c3 !important; }

#wrapper > section .portlet-content #bibbox-wrapper .stopped,
html body .stopped {
  background: #d39b97 !important; }

#wrapper > section .portlet-content #bibbox-wrapper #applist,
html body #applist {
  display: none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }

#wrapper > section .portlet-content #bibbox-wrapper #applist .app,
html body #applist .app {
  float: left;
  position: relative;
  width: 300px;
  background: #CCC;
  margin: 10px;
  border-radius: 0 10px;
  overflow: hidden;
  color: white;
  padding-bottom: 31px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  flex-grow: 1; }

#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-header,
#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-footer,
html body #applist .app .app-header,
html body #applist .app .app-footer {
  background: rgba(0, 0, 0, 0.06);
  display: inline-block;
  width: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-body,
html body #applist .app .app-body {
  padding: 15px 18px; }

#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-body > div,
#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-body > h2,
html body #applist .app .app-body > div,
html body #applist .app .app-body > h2 {
  display: inline-block;
  width: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-footer,
html body #applist .app .app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

#wrapper > section .portlet-content #bibbox-wrapper #applist .app .app-footer span,
html body #applist .app .app-footer span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 7px 18px;
  cursor: pointer; }

#wrapper > section .portlet-content #bibbox-wrapper .app-performance,
html body .app-performance {
  width: 100%;
  display: flex !important;
  flex-flow: row wrap;
  margin-top: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .app-performance span,
html body .app-performance span {
  flex-basis: 33.33%; }

#wrapper > section .portlet-content #bibbox-wrapper .app-performance .right,
html body .app-performance .right {
  text-align: right; }

#wrapper > section .portlet-content #bibbox-wrapper .app-performance .light,
html body .app-performance .light {
  color: rgba(255, 255, 255, 0.5); }

#wrapper > section .portlet-content #bibbox-wrapper .app-performance .dark,
html body .app-performance .dark {
  color: rgba(0, 0, 0, 0.3); }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content,
html body .overlay-content {
  display: flex;
  flex-flow: row wrap; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content h2,
html body .overlay-content h2 {
  color: #2d6191;
  font-size: 20px;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-header,
html body .overlay-content-header {
  width: 100%;
  margin-bottom: 30px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-title,
html body .overlay-content-title {
  float: left;
  width: 60%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-title img,
html body .overlay-content-title img {
  float: left;
  max-height: 50px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-title h1,
html body .overlay-content-title h1 {
  color: #2d6191;
  line-height: 50px;
  padding: 0;
  float: left;
  margin-left: 15px;
  font-size: 25px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-controls,
html body .overlay-content-controls {
  float: right;
  width: 40%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-controls h2,
html body .overlay-content-controls h2 {
  float: right;
  line-height: 50px;
  margin-right: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-controls img,
html body .overlay-content-controls img {
  float: right;
  max-height: 20px;
  margin-top: 15px;
  margin-left: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-body,
html body .overlay-content-body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: left; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-body h2,
#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-body .full-width,
html body .overlay-content-body h2,
html body .overlay-content-body .full-width {
  float: left;
  width: 95%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-body .margin-bottom,
html body .overlay-content-body .margin-bottom {
  margin-bottom: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left,
html body .overlay-content-left {
  width: 60%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left > span,
html body .overlay-content-left > span {
  float: left;
  width: 45%;
  margin-right: 5%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left h3,
#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left p,
html body .overlay-content-left h3,
html body .overlay-content-left p {
  float: left;
  width: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left h3,
html body .overlay-content-left h3 {
  color: #6496b4;
  margin-bottom: 5px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left p,
html body .overlay-content-left p {
  margin-bottom: 15px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left img,
html body .overlay-content-left img {
  max-height: 40px;
  margin-bottom: 5px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right,
html body .overlay-content-right {
  width: 40%;
  display: block; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right img,
html body .overlay-content-right img {
  display: inline-block;
  height: 80px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right h2,
html body .overlay-content-right h2 {
  width: 100%; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right .overlay-chart,
html body .overlay-content-right .overlay-chart {
  float: left;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right .app-performance,
html body .overlay-content-right .app-performance {
  margin-bottom: 20px; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right .app-performance .light,
html body .overlay-content-right .app-performance .light {
  color: #6496b4; }

#wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right .app-performance .dark,
html body .overlay-content-right .app-performance .dark {
  color: rgba(0, 0, 0, 0.4); }

@media only screen and (max-width: 800px) {
  #wrapper > section .portlet-content #bibbox-wrapper .app-install-left,
  #wrapper > section .portlet-content #bibbox-wrapper .app-install-right,
  html body .app-install-left,
  html body .app-install-right {
    width: 100%;
    margin-right: 0; }
  #wrapper > section .portlet-content #bibbox-wrapper .app-install-left,
  html body .app-install-left {
    text-align: center;
    margin-bottom: 40px; }
  #wrapper > section .portlet-content #bibbox-wrapper #overlay-content,
  html body #overlay-content {
    padding: 30px 25px; }
  #wrapper > section .portlet-content #bibbox-wrapper #overlay-inner,
  html body #overlay-inner {
    top: 50px;
    bottom: 50px; } }

@media only screen and (max-width: 600px) {
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger,
  html body #app-filter #tagger {
    width: 100%;
    margin-top: 20px; }
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger .ReactTags__tagInput,
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger .ReactTags__tagInput input,
  html body #app-filter #tagger .ReactTags__tagInput,
  html body #app-filter #tagger .ReactTags__tagInput input {
    width: 100%; }
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger #store-wrapper #tagger,
  html body #app-filter #tagger #store-wrapper #tagger {
    width: 100%; }
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger #store-wrapper #tagger .ReactTags__tagInput,
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger #store-wrapper #tagger .ReactTags__tagInput input,
  html body #app-filter #tagger #store-wrapper #tagger .ReactTags__tagInput,
  html body #app-filter #tagger #store-wrapper #tagger .ReactTags__tagInput input {
    width: 100%; }
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger #store-wrapper .facet-wrapper,
  html body #app-filter #tagger #store-wrapper .facet-wrapper {
    width: 100%;
    padding: 0 10px; }
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger #store-wrapper .facet-wrapper .facet-title,
  html body #app-filter #tagger #store-wrapper .facet-wrapper .facet-title {
    padding: 0; }
  #wrapper > section .portlet-content #bibbox-wrapper #app-filter #tagger #store-wrapper #store-results,
  html body #app-filter #tagger #store-wrapper #store-results {
    float: left;
    width: 100%;
    margin-top: 30px;
    display: inline-block;
    border-left: 0;
    padding: 0; }
  #wrapper > section .portlet-content #bibbox-wrapper .overlay-content-title,
  html body .overlay-content-title {
    width: 100%; }
  #wrapper > section .portlet-content #bibbox-wrapper .overlay-content-controls,
  html body .overlay-content-controls {
    float: left;
    width: auto;
    margin-top: 15px; }
  #wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left,
  #wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right,
  html body .overlay-content-left,
  html body .overlay-content-right {
    float: left;
    width: 100%; }
  #wrapper > section .portlet-content #bibbox-wrapper .overlay-content-right,
  html body .overlay-content-right {
    margin-top: 25px; }
  #wrapper > section .portlet-content #bibbox-wrapper .overlay-content-left > span,
  html body .overlay-content-left > span {
    width: 100%;
    margin-right: 0; } }
